.diab-calc-super-container {
    font-size: calc(var(--mobFontSize_H2) - 1%);
}

.diab-calc-input-container {
    padding: 6px;
}

.diab-calc-input-container select {
    border-color: rgba(var(--mainColor));
}

.diab-calc-button-container {
    text-align: center;
}

#btn_Submit_DiabCalc_Right {
    display: inline-block;
    background: rgba(var(--shadowColor));
    width: 100%;
    font-family: var(--fontFamilyName) Bold, Arial, Helvetica, sans-serif !important;
    color: #fff;
    text-align: center;
    font-weight: 700;
}

.diab-calc-calc-heading {
    display: block;
    font-size: calc(var(--mobFontSize_H2) - 1%) !important;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.diab-calc-calc-description  {
    font-size: calc(16px - 1%) !important;
}

.diab-calc-result {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 12px;
}

.diab-calc-result-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    align-items: center;
    justify-self: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
    color: white;
    font-size: calc(var(--mobFontSize_componentTitle) - 1%);
}

.diab-calc-result-content #day-container,
.diab-calc-result-content #date-container {
    font-size: calc(var(--mobFontSize_H2) - 1%);
    font-weight: bold;
}

.diab-calc-result-bg-content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #585194;
    color: white;
    width: 100%;
}

#diab-calc-tabs-container {
    display: flex;
    justify-content: space-between;
}

#diab-calc-mob-pagination-container {
    display: none;
    text-align: center;
}

.diab-calc-question-button.disabled {
    background-color: rgba(var(--mainColor), 0.5);
    pointer-events: none;
    cursor: none;
}

@media only screen and (max-width: 600px) {
    #diab-calc-tabs-container {
        display: none;
    }

    #diab-calc-mob-pagination-container {
        display: block;
        font-weight: bold;
    }

    .diab-calc-question {
        text-align: center;
    }
}

#diab-calc-tabs-container .diab-calc-tab {
    padding: 6px;
    margin: 1px;
    background-color: rgba(var(--mainColor), 0.6);
    color: rgba(var(--mainColor));
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: calc(16px - 1%);
    cursor: pointer;
}

#diab-calc-tabs-container .diab-calc-tab:hover {
    background-color: rgba(var(--mainColor), 0.8);
    color: white;
}

#diab-calc-tabs-container .diab-calc-tab.active {
    background-color: rgba(var(--mainColor));
    color: white;
}

.diab-calc-tab.disabled {
    pointer-events: none;
    color: #f1f1f1 !important;
}

#diab-calc-tabs-content-container {
    justify-content: space-between;
}

#diab-calc-tabs-content-container #diab-calc-question-container {
    padding: 12px;
}

#diab-calc-tabs-content-container .diab-calc-question {
    padding: 60px 0;
    font-weight: bold;
}

#diab-calc-tabs-content-container .diab-calc-options {
    /* display: flex;
    justify-content: center; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
}


#diab-calc-tabs-content-container .diab-calc-option {
    background-color: rgba(var(--mainColor), 0.6);
    color: white;
    padding: 12px;
    margin: 6px;
    text-align: center;
    cursor: pointer;
}

#diab-calc-tabs-content-container .diab-calc-option:hover {
    background-color: rgba(var(--mainColor), 0.8);
}

#diab-calc-tabs-content-container .diab-calc-option.selected {
    background-color: rgba(var(--mainColor));
}

#diab-calc-tabs-content-container .diab-calc-option:not(:first-child) {
    /* margin-right: 6px; */
}

.diab-calc-question-buttons-container, .diab-calc-result-buttons-container {
    display: flex;
    justify-content: space-evenly;
    /* padding: 60px 0; */
    margin-top: 60px;
    margin-bottom: 60px;
}

.diab-calc-result-buttons-container {
    display: block;
    width: 100%;
}

.diab-calc-question-button-container, .diab-calc-result-button-container {
    display: flex;
    justify-content: center;
}

.diab-calc-question-button, .diab-calc-result-button {
    background-color: rgba(var(--mainColor));
    color: white;
    padding: 6px 12px;
    min-width: 150px;
    /* 50%; */
    border: none;
}

.diab-calc-result-button {
    width: 100%;
    margin-top: 12px;
}

@media only screen and (min-width: 600px) {
    .diab-calc-result-button {
        width: 50%;
    }
}

#diab-calc-result-return-button {
    display: inline-block;
    min-width: 100px;
    width: 100%;
    margin-top: 24px !important;
    margin: 0;
    background: rgb(var(--shadowColor));
    font-size: 16px;
    color: rgb(var(--mainLightColor)) !important;
    text-align: center;
    padding: 8px 15px;
    font-weight: 700;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-decoration: none;
    box-shadow: none;
    outline: none !important;
}

#diab-calc-result-container {
    margin-top: 24px;
}

#diab-calc-result-description {
    padding: 12px;
    background-color: rgba(var(--mainColor), 0.2);
    border: 1px solid white;
}

.diab-calc-result-heading {
    color: white;
}

.diab-calc-result-heading.low_medium {
    background-color: #093;
}

.diab-calc-result-heading.medium_high {
    background-color: #ecab14;
}

.diab-calc-result-heading.high {
    background-color: #d74e6a;
}

#diab-calc-result-heading {
    padding: 12px;
    text-align: center;
    font-weight: bold;
    border: 1px solid white;
}

#diab-calc-result-low-heading, #diab-calc-result-high-heading {
    padding: 12px;
    text-align: center;
    font-weight: bold;
    border: 1px solid white;
}

#diab-calc-result-low-body, #diab-calc-result-high-body {
    padding: 12px;
    background-color: rgba(var(--mainColor), 0.2);
    border: 1px solid white;
}

#diab-calc-result-summary-text {
    text-align: center;
    padding: 12px;
}

#diab-calc-result-summary-value {
    text-align: center;
    padding: 12px;
    color: rgba(var(--mainColor));
    font-weight: bold;
}